body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #007BFF;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #d63384;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

p {
    margin-bottom: 20px;
}

.codigo_geral{
    display: none;
}


