body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
}

h1 {
    color: #007bff;
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    width: 70%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #007bff;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.btn-dark {
    background-color: #343a40;
}

.btn-dark:hover {
    background-color: #1d2124;
}
