/* styles.css */

.container {
    margin-top: 20px;
}

.perfil {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 60%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bolder;
    display: block;
    margin-bottom: 5px;
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.btn {
    margin-right: 10px;
}

/* Add more styling as needed */
