{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="container mb-5">
    <h1 class="mt-2">Cadastro</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="entrar">
      <div class="form">
        <form action="{% url 'cadastrar_usuario' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="pNome">Nome</label>
            <input type="text" class="form-control" id="pNome" name="pNome" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="sNome">Sobrenome</label>
            <input type="text" class="form-control" id="sNome" name="sNome" placeholder="Sobrenome">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
          </div>
          <div class="form-group">
            <label for="confsenha">Confirmar senha</label>
            <input type="password" class="form-control" id="confsenha" name="confsenha" placeholder="Repetir senha">
          </div>
          <div class="form-group">
            <label for="nasc">Data de nascimento:</label>
            <input type="date" class="form-control" id="nasc" name="nasc">
          </div>

          <div class="form-group">
            <label for="cell">Celular:</label>
            <input type="tel" class="form-control" id="cell" name="cell" maxlength="15" onkeyup="formatoCell(event)"/>
          </div>
         
          <div class="form-group">
            <label for="opcoes">Como nos conheceu:</label>
            <select class="form-control" id="opcoes" name="nosConheceu">
              <option value=""></option>
              <option value="Faculdade" id="opc1">Faculdade</option>
              <option value="Internet" id="opc2">Internet</option>
            </select>
          </div>
          <div class="form-group">
            <label for="genero">Qual é o seu gênero?</label>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="genero-masculino" name="genero" value="Masculino">
              <label class="form-check-label" for="genero-masculino">Masculino</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="genero-feminino" name="genero" value="Feminino">
              <label class="form-check-label" for="genero-feminino">Feminino</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="genero-outros" name="genero" value="Outro">
              <label class="form-check-label" for="genero-outros">Outros</label>
            </div>
          </div>
          <button type="submit" class="btn btn-dark">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="{% url 'login'%}">Faça login</a></p>
      </div>
    </div>
  </div>
<script src="{% static 'website/js/cadastro.js' %}"></script>
{% endblock %}

