{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'website/css/editar_perfil.css' %}">
<div class="container mb-5">
    <h1 class="mt-2">Editar Perfil</h1>

    <div class= "perfil">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            

            <div class="form-group mt-2">
                <label for="{{ user_form.first_name.id_for_label }}">Nome:</label>
                {{ user_form.first_name }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ user_form.last_name.id_for_label }}">Sobrenome:</label>
                {{ user_form.last_name }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ user_form.email.id_for_label }}">Email:</label>
                {{ user_form.email }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ user_form.password.id_for_label }}">Alterar senha:</label>
                {{ user_form.password }}
            </div>

            <div class="form-group mt-2">
                <label for="{{ profile_form.nascimento.id_for_label }}">Data de nascimento:</label>
                {{ profile_form.nascimento }}
            </div>
            <div class="form-group mt-2 ">
                <label for="{{ profile_form.cell.id_for_label }}">Celular:</label>
                {{ profile_form.cell }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ profile_form.nosConheceu.id_for_label }}">Como nos conheceu:</label>
                {{ profile_form.nosConheceu }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ profile_form.genero.id_for_label }}">Gênero:</label>
                {{ profile_form.genero }}
            </div>
            <div class="form-group mt-2">
                <label for="{{ profile_form.foto.id_for_label }}">Foto de perfil:</label>
                {{ profile_form.foto }}
            </div>

            <div class="form-group mt-2">
                <label for="{{ profile_form.bioUsuario.id_for_label }}">Bio</label>
                {{ profile_form.bioUsuario }}
            </div>

            <button type="submit" class="btn btn-dark mt-2">Salvar</button>
        </form>
    </div>
    <a href="{% url 'perfil' %}" class="btn btn-dark mt-2">Voltar ao Perfil</a>

</div>

{% endblock %}
