{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'website/css/perfilUsuario.css' %}">

<div class="container mb-5">
    <h1 class="mt-2">Perfil</h1>

    <div class="perfil">
        <div class="form">
            <div class="form-group">
                <label>Nome</label>
                <p id="nome"></p>
            </div>
            <div class="form-group">
                <label>Sobrenome</label>
                <p id="sobrenome"></p>
            </div>

            {% if user == request.user %}
                <div class="form-group">
                    <label>Email</label>
                    <p id="email"></p>
                </div>
            
                <div class="form-group">
                    <label>Celular</label>
                    <p id="celular"></p>
                </div>
            {% endif %}

            <div class="form-group">
                <label>Data de nascimento</label>
                <p id="nascimento"></p>
            </div>
            
            <div class="form-group">
                <label>Como nos conheceu</label>
                <p id="nosConheceu"></p>
            </div>
            <div class="form-group">
                <label>Gênero</label>
                <p id="genero"></p>
            </div> 
            <div class="form-group">
                <label>Sobre mim</label>
                <p id="bioUsuario"></p>
            </div>
            <div class="form-group">
                <label>Foto do perfil</label>
                <img id="foto" alt="Foto do perfil">
            </div>
        </div>
    </div>

        {% if user == request.user %}
            <a href="{% url 'editar_perfil' %}" class="btn btn-dark">Editar Perfil</a>
            <a href="{% url 'quiz' %}" class="btn btn-dark">QUIZ</a>
            <a href="{% url 'filmes_recomendados' %}" class="btn btn-dark">Meus filmes</a>
        {% endif %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var userId = "{{ request.user.userprofile.id }}";
    var apiUrl = "http://127.0.0.1:8000/apiPerfilUsuario/" + userId + "/";
    $.get(apiUrl, function(data, status){
        $("#nome").text(data.user.first_name);
        $("#sobrenome").text(data.user.last_name);
        $("#email").text(data.user.email);
        $("#celular").text(data.cell);
        $("#nascimento").text(data.nascimento);
        $("#nosConheceu").text(data.nosConheceu);
        $("#genero").text(data.genero);
        $("#bioUsuario").text(data.bioUsuario);
        if (data.foto) {
            $("#foto").attr("src", data.foto.url);
        }
    });
});
</script>

{% endblock %}
