{% extends 'website/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mt-4 display-4">Sobre o Projeto</h1>
            <p class="lead">Estamos dedicados a ajudá-lo a encontrar o filme perfeito para cada momento do seu dia.</p>
            <p>Entendemos que o cinema é uma forma maravilhosa de se distrair e que o tipo de filme que você assiste pode influenciar o seu humor e experiência. É por isso que criamos o QuizCine, que o guiará por uma sequência de perguntas divertidas para descobrir o seu estado de espírito atual.</p>
            <p>Com base nas suas respostas e pesquisas, nosso algoritmo sugerirá filmes que acreditamos combinar perfeitamente com o seu humor. Se você estiver se sentindo aventureiro, nostálgico, romântico ou em qualquer outro estado de espírito, temos as recomendações certas para você.</p>
            <p>Queremos tornar a sua experiência cinematográfica ainda mais emocionante e agradável. Então, faça o quiz, explore nossas recomendações e descubra novos filmes.</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="bg-dark text-white p-4 rounded h-100">
                <h4>Missão</h4>
                <p>Nossa missão é proporcionar a você uma experiência cinematográfica única, tornando mais fácil encontrar o filme ideal para cada ocasião.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-dark text-white p-4 rounded h-100">
                <h4>Visão</h4>
                <p>Queremos ser a principal plataforma de recomendação de filmes, conectando os amantes do cinema com as melhores opções de acordo com seu humor e preferências.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

