{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <title>{% block title %}QuizCine{% endblock %}</title>
    <style>
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark mt">
        <a class="navbar-brand fs-1 mx-2" href="{% url 'index' %}">QuizCine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'criadores' %}">Criadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                    </li>
                </ul>
                <label style="color: aliceblue;" >{{ nome_usuario }}</label>
                
            {% endif %} 
        </div>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
